.container{
    padding: 10px;
    border-radius: 10px;
}
.container h2{
    font-size: 2em;
    text-align: center;
    font-weight: 500;
    color: #1f9cff;
}
.container ul{
    padding: 10px;
}
.container p{
    margin: 50px;
    color: #fff;
    text-align: center;
}


