/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #0c2e3f;
    font-size: 1em;
    position: relative;
    justify-content: center;
    align-items: center;
}
.container{
    background: #124964;
    position: relative;
    width: 600px;
    margin: 10px auto;
    box-shadow: -1px -1px 2px rgba(255, 255, 255, .25),
    inset 2px 2px 5px rgba(255, 255, 255, .25),
    8px 30px 30px rgba(0, 0, 0, .4),
    inset -2px -2px 5px rgba(0, 0, 0, .3);
}
